@model VTechClubApp.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfRequests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfRequests)
        </dd>

    </dl>
</div>
<p>
    <a href=@Url.Action("Index", "Customer") class="btn btn-primary ">
        <i class="glyphicon glyphicon-backward"></i>
        Back to List
    </a>
</p>

