@model IEnumerable<VTechClubApp.Models.ToolTorepair>

@{
    ViewBag.Title = "Tools";
    Layout = "~/Views/Shared/layout.cshtml";
}

<h2 class=" well">Tools</h2>


<table class="table">
    <tr class="info">
       
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Issue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Issue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
       
    </tr>
}

</table>
<div>
    <button class="btn btn-info hidden-print" onclick="location.href='@Url.Action("MyRepairCases","Reception")'">
        <span class="glyphicon glyphicon-backward" aria-hidden="false"></span>  Back to list
    </button>
</div>